@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
/* Custom fonts */
@font-face {
  font-family: 'coiny';
  src: url('/fonts/coiny-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

